@media screen and (max-width: 1024px){
    /*players in edit team*/
    #player-entry .tl-info{
        @apply flex-row justify-between w-full;
    }
    #player-entry .tl-entry button{
        @apply m-auto;
    }

    /*team entry table*/
    #team-entry .tl-info{
        @apply block w-1/2;
    }

}

@media screen and (max-width: 900px){
    #welcome-left, #welcome-right {width: 100%;}
    .content{
        margin-top: 20px;
    }
    #login-left{
        width:100%;
    }
    #hey-rodney{
        margin:auto;
    }


}

@media screen and (max-width: 852px){
    /* prolly change width */
    .gender-button-cont{
        width: 100%;
    }
}